
.header {
    background-color: #333;
    color: #ffffff;
    padding: 16px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  
  
  .header h1 {
    font-size: 34px;
    margin: 10;
  }
  
  .card2deck {
    display: flex; 
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: 20px ;
    margin-right: 1px;

  }
  body {
    padding-top: 60px; /* Adjust the value based on your header's height */
  }
  
  /* Style for the footer container */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  /* Center the content in the footer */
  .footer-content {
    text-align: center;
  }
  
  /* Style for the footer text */
  .footer-content p {
    margin: 5px 0;
  }
  
  /* Make the footer text link color white */
  .footer-content a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style for footer links when hovered */
  .footer-content a:hover {
    text-decoration: underline;
  }
