.custom-container{
    width: 80vw;
    margin: auto;

}

.custom-button {
    background-color: grey; 
    color: white; 
    border: none; 
    
}

.back-button{
    width:40px; 
    height:40px;

}
  
.custom-button:hover {
    background-color: darkgrey; 
}

.header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
  
.header h1 {
    font-size: 34px;
}

.location {
    font-size: 18px;
    color: #888;
}

img {
    height:50vh;
    width: 100%; 
    object-fit: cover;
  }

.temple-description {
    margin-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    margin-top: 55px;
}

.content {
    margin-left: 10px;
    font-size:16px;
    color: #333333;
}