.custom-container{
    width: 80vw;
    margin: auto;

}

.custom-button {
    background-color: grey; 
    color: white; 
    border: none; 
    
}

.back-button{
    width:40px; 
    height:40px;

}
  
.custom-button:hover {
    background-color: darkgrey; 
}

.header {
    background-color: #333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
  
.header h1 {
    font-size: 34px;
}

.location {
    font-size: 18px;
    color: #888;
}

img {
    height:50vh;
    width: 100%; 
    object-fit: cover;
  }

.temple-description {
    /* marginTop: 15px; */
    font-size: 22px;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
}

.content {
    margin-left: 10px;
    font-size:16px;
    color: #333333;
    padding-bottom: 240px;
}

/* Style for the footer container */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the footer */
  footerdesc {
    background-color: #333;
    color: #fff;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Make the footer text link color white */
  footerdesc a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style for footer links when hovered */
  footerdesc a:hover {
    text-decoration: underline;
  }

