.temple-card {
    background-color: #fbebce;
    border-radius: 16px;
    padding: 11px;
    margin-bottom: 16px;
    width: 21.25rem; 
    height: 21.3rem;
    flex: 1;
    position: relative;
  }
  
  .temple-card h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .temple-card p {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .temple-card .card-img-top {
    object-fit: cover;
    height: 50%; /* Set the desired height for the card image */
  }

  .button-position {
    position: absolute; /* Set the card body to absolute position */
    bottom: 0; 
    height:16%;
    width: 90%; 
  }