/* CSS for the slider container */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  
  /* CSS for the slider item (individual slides) */
  .slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
  }
  
  /* CSS for the slider images */
  .slider-item img {
    width: 100%;
    top: 0;
    height: 65vh;
    object-fit: cover;
  }
  
  /* Add the slightly dark overlay */
  .slider-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity (last value) as needed */
  }
  
  .carousel-caption {
    position: absolute;
    top:340px;
    font-size: 50px;
 }

 .p {
    font-family: "Lucida Console", "Courier New", monospace;

 }
