.temple-card {
    background-color: #fbebce;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 1px;
    width: 20.25rem; 
    height: 21.2rem;
    position: relative;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 25px;
    display: flex;
    
  }
  
  .temple-card h2 {
    font-size: 24px;

    margin-left: 10px;
    margin-right: 10px;
  }
  
  .temple-card p {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .temple-card .card-img-top {
    object-fit: cover;
    height: 50%;
  }

  .button-position {
    position: absolute;
    bottom: 0; 
    height:16%;
    width: 100%; 
  }

  